<div class="row padding-top">
  <div class="four columns center-text form-column">
    <h2> Events </h2>
    <ul class="options-list"> 
      <li class="option">
        <input id="event_1" name="lists" value="1" type="checkbox" ng-model="data.lists.hackathons">
        <span class="label-body option-name"> Hackathons </span>
      </li>
      <li class="option"> 
        <input id="event_2" name="lists" value="2" type="checkbox" ng-model="data.lists.networking">
        <span class="option-name label-body"> Networking </span>
      </li>
      <li class="option">
        <input id="event_3" name="lists" value="3" type="checkbox"  ng-model="data.lists.officeTours">
        <span class="option-name label-body"> Office Tours </span>
      </li>
      <li class="option">
        <input id="event_4" name="lists" value="4" type="checkbox" ng-model="data.lists.startupsEntrepreneurship">
        <span class="option-name label-body">  Startups &amp; Entrepreneurship </span>
      </li>
    </ul>
  </div>
  
  <div class="four columns center-text form-column">
    <h2> Jobs </h2>
    <ul class="options-list">
      <li class="option"> 
        <input id="job_1" name="lists" value="5" type="checkbox" ng-model="data.lists.internCoop">
        <span class="option-name label-body"> Intern/Co-op </span>
      </li>
      <li class="option"> 
        <input id="job_2" name="lists" value="6" type="checkbox" ng-model="data.lists.freelance"> 
        <span class="option-name label-body"> Freelance </span>
      </li>
      <li class="option"> 
        <input id="job_3" name="lists" value="7" type="checkbox" ng-model="data.lists.fulltime"> 
        <span class="option-name label-body"> Full-Time </span> 
      </li>
      <li class="option"> 
        <input id="job_4" name="lists" value="8" type="checkbox" ng-model="data.lists.volunteer"> 
        <span class="option-name label-body"> Volunteer </span> 
      </li>
    </ul>
  </div>
  <div class="four columns center-text form-column">
    <h2> Workshops </h2>
    <ul class="options-list"> 
      <li class="option"> 
        <input id="workshop_1" name="lists" value="9" type="checkbox" ng-model="data.lists.designstudio">
        <span class="option-name label-body"> Design Studio </span>
      </li>
      <li class="option">
        <input id="workshop_2" name="lists" value="10" type="checkbox" ng-model="data.lists.hardware">
        <span class="option-name label-body"> Hardware </span>
      </li>
      <li class="option">
        <input id="workshop_3" name="lists" value="11" type="checkbox" ng-model="data.lists.lasercutting3d">
        <span class="option-name label-body"> Laser Cutting  &amp; 3D Print </span>
      </li>
      <li class="option">
        <input id="workshop_4" name="lists" value="12" type="checkbox" ng-model="data.lists.software">
        <span class="option-name label-body"> Software </span>
      </li>
    </ul>
  </div>
</div>

<div class="row padding-top">
  <div class="twelve columns center-text">
    <a href="signup"> go back </a>
    <a class="button" href="interests"> Next </a>
  </div>
</div>
